.alert {
  padding-left: 20px;
}

.alert__info {
  font-size: 14px;
  font-weight: 400;
  color: #1d1d1f;
}

.alert__link {
  font-size: 14px;
  font-weight: 400;
  color: #775ce5;
}

.alert__error {
  margin: 20px;
  padding: 20px;
  background-color: #f2e9e2;
  border: 1px solid transparent;
  opacity: 0.8;
  border-radius: 10px;

  display: none;

  &--active {
    display: block;
  }
}

.alert__error--image {
  width: 15px;
  height: 15px;
}

.alert__error--text {
  font-size: 14px;
  font-weight: 500;

  display: inline;

  color: #f2883d;
}

.alert--disabled {
  display: none;
}
