.page__background--large {
  background-image: url("back_large.svg");
  background-repeat: no-repeat;
  background-position: top right;
  width: 393px;
  height: 583px;
  position: relative;
  border-radius: 24px 24px 32px 32px;

  margin-bottom: 40px;
}

.image__page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-self: start;
  align-items: center;
  padding: 0px;
}

.image__image {
  position: absolute;
  width: 680px;
  top: 0px;
  left: -160px;
}

.image__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;

  color: #ffffff;
}

.image__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  color: #ffffff;
}
